---
const nombre = "Maria Valentina Osorio Romero";
---

<html>
  <head>
    <title>Presentación</title>
  </head>
  <body>
    <h1>Presentación</h1>

    <p>Hola, soy {nombre}.</p>

    <h2>Video de presentación</h2>
    <p>Aquí irá el video.</p>

    <h2>Foto o avatar</h2>
    <p>Aquí irá la foto.</p>
  </body>
</html>